<div id="mainbottom-6">
    <div class="container">
        <div class="row">
            <div class="moduletable col-sm-12">
                <div class="module_container">
                    <header class="page_header">
                        <h3 class="moduleTitle heading-style-3 visible-first">
                            Galeria
                        </h3>
                    </header>
                    <div class="mod-newsflash-adv gallery mod-newsflash-adv__ cols-3">
                        <div class="row">
                            <div class="col-sm-4 item item_num0 item__module visible-first">
                                <div class="item_content">
                                    <figure class="item_img img-intro img-intro__none">
                                        <a class="fancybox-thumb zoom articleGalleryZoom"
                                           data-fancybox-group="portfolio" data-fancybox-type="image"
                                           data-fancybox="fancybox"
                                           href="{{ absolute_url('/images/page1-img12.jpg') }}">
                                            <img src="{{ absolute_url('/images/page1-img12.jpg') }}" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-4 item item_num1 item__module visible-first">
                                <div class="item_content">
                                    <figure class="item_img img-intro img-intro__none">
                                        <a class="fancybox-thumb zoom articleGalleryZoom"
                                           data-fancybox-group="portfolio" data-fancybox-type="image"
                                           data-fancybox="fancybox"
                                           href="{{ absolute_url('/images/page1-img13.jpg') }}">
                                            <img src="{{ absolute_url('/images/page1-img13.jpg') }}" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-4 item item_num2 item__module visible-first">
                                <div class="item_content">
                                    <figure class="item_img img-intro img-intro__none">
                                        <a class="fancybox-thumb zoom articleGalleryZoom"
                                           data-fancybox-group="portfolio" data-fancybox-type="image"
                                           data-fancybox="fancybox"
                                           href="{{ absolute_url('/images/page1-img14.jpg') }}">
                                            <img src="{{ absolute_url('/images/page1-img14.jpg') }}" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 item item_num3 item__module visible-first">
                                <div class="item_content">
                                    <figure class="item_img img-intro img-intro__none">
                                        <a class="fancybox-thumb zoom articleGalleryZoom"
                                           data-fancybox-group="portfolio" data-fancybox-type="image"
                                           data-fancybox="fancybox"
                                           href="{{ absolute_url('/images/page1-img15.jpg') }}">
                                            <img src="{{ absolute_url('/images/page1-img15.jpg') }}" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-4 item item_num4 item__module visible-first">
                                <div class="item_content">
                                    <figure class="item_img img-intro img-intro__none">
                                        <a class="fancybox-thumb zoom articleGalleryZoom"
                                           data-fancybox-group="portfolio" data-fancybox-type="image"
                                           data-fancybox="fancybox"
                                           href="{{ absolute_url('/images/page1-img16.jpg') }}">
                                            <img src="{{ absolute_url('/images/page1-img16.jpg') }}" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-4 item item_num5 item__module lastItem visible-first"
                                    >
                                <div class="item_content">
                                    <figure class="item_img img-intro img-intro__none">
                                        <a class="fancybox-thumb zoom articleGalleryZoom"
                                           data-fancybox-group="portfolio" data-fancybox-type="image"
                                           data-fancybox="fancybox"
                                           href="{{ absolute_url('/images/page1-img17.jpg') }}">
                                            <img src="{{ absolute_url('/images/page1-img17.jpg') }}" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mod-newsflash-adv_custom-link">
                            <a class="btn btn-info" href="{{ path('gallery') }}">Zobacz wszystkie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>