
{% if active is not defined %}
    {% set active = "" %}
{% endif %}
<div id="navigation" class="stuck">
    <div class="container" style="position: relative;">
        <div class="row">
            <nav class="col-sm-11">
                <div class="module_container">
                    <div class="icemegamenu one">
                        <ul id="icemegamenu">
                            <li class="iceMenuLiLevel_1{% if active == 'home' %} current active{% endif %}">
                                <a href="{{ path('index') }}" title="Strona główna" class="iceMenuTitle{% if active == 'home' %} icemega_active{% endif %}">
                                    <span class="icemega_title icemega_nosubtitle">Strona główna</span>
                                </a>
                            </li>
                            <li class="iceMenuLiLevel_1{% if active == 'about' %} current active{% endif %}">
                                <a href="{{ path('about') }}" title="O nas" class="iceMenuTitle{% if active == 'about' %} icemega_active{% endif %}">
                                    <span class="icemega_title icemega_nosubtitle">O nas</span>
                                </a>
                            </li>
                            <li class="iceMenuLiLevel_1{% if active == 'offer' %} current active{% endif %}">
                                <a href="{{ path('offers') }}" title="Oferta" class="iceMenuTitle{% if active == 'offer' %} icemega_active{% endif %}">
                                    <span class="icemega_title icemega_nosubtitle">Oferta</span>
                                </a>
                            </li>
{#                            <li class="iceMenuLiLevel_1{% if active == 'gallery' %} current active{% endif %}">#}
{#                                <a href="{{ path('gallery') }}" class="iceMenuTitle{% if active == 'gallery' %} icemega_active{% endif %}">#}
{#                                    <span class="icemega_title icemega_nosubtitle">Galeria</span>#}
{#                                </a>#}
{#                            </li>#}
                            <li class="iceMenuLiLevel_1{% if active == 'contact' %} current active{% endif %}">
                                <a href="{{ path('contact') }}" title="Kontakt" class="iceMenuTitle{% if active == 'contact' %} icemega_active{% endif %}">
                                    <span class="icemega_title icemega_nosubtitle">Kontakt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="rd-mobilemenu">
    <ul class="rd-mobilemenu_ul">
        <li class="level_1 active">
            <a href="{{ path('index') }}" title="Strona główna" class="iceMenuTitle{% if active == 'home' %} icemega_active{% endif %}">
                <span class="icemega_title icemega_nosubtitle">Strona główna</span>
            </a>
        </li>
        <li class="level_1">
            <a href="{{ path('about') }}" title="O nas" class="iceMenuTitle{% if active == 'about' %} icemega_active{% endif %}">
                <span class="icemega_title icemega_nosubtitle">O nas</span>
            </a>
        </li>
{#        <li class="level_1">#}
{#            <a href="{{ path('gallery') }}" class="iceMenuTitle{% if active == 'gallery' %} icemega_active{% endif %}">#}
{#                <span class="icemega_title icemega_nosubtitle">Galeria</span>#}
{#            </a>#}
{#        </li>#}
        <li class="level_1">
            <a href="{{ path('contact') }}" title="Kontakt" class="iceMenuTitle{% if active == 'contact' %} icemega_active{% endif %}">
                <span class="icemega_title icemega_nosubtitle">Kontakt</span>
            </a>
        </li>
    </ul>
</div>
<div class="rd-mobilepanel">
    <button class="rd-mobilepanel_toggle"><span></span></button>
</div>
