<div class="jg_element_cat gallery-grid gallery-item col-sm-12">
    <a class="fancybox-thumb"
       data-title="{{ img }}"
       title="{{ img }}"
       href="{{ asset('' ~ img ~ '') }}"
       data-fancybox="fancybox"
       data-fancybox-group="{{ slug }}"
       data-fancybox-type="image"
    >
        <div class="jg_imgalign_catimgs">
            <img src="{{ asset('' ~ img ~ '') }}"
                 class="jg_photo_custom" width="768" height="540" alt="gallery-image1">
            <div class="jg_catelem_txt">
                <ul>
                    <li class="jg_links"><i class="fa fa-search-plus"></i></li>
                </ul>
            </div>
        </div>
    </a>
</div>
