{% set item_title = item.title %}
{% set path_offer = path('offer', { 'slug': item.slug }) %}
<div>
    <figure class="item_img img-intro">
        <a rel="nofollow" title="{{ item_title }}" href="{{ path_offer }}">
            <img src="{{ asset('' ~ item.img ~ '') }}" alt="{{ item_title }}">
        </a>
    </figure>
    <div class="box_inner">
        <div class="item_header">
            <h4 class="item_title heading-style-4 visible-first">
                <a title="{{ item_title }}" href="{{ path_offer }}">
                    {{ item.title }}
                </a>
            </h4>
        </div>
        {% if item.description %}
            <div class="item_introtext">
                <p>{{ item.description }}</p>
            </div>
        {% endif %}
    </div>
</div>
