{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }} - Edycja kategorii{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
{% block body %}
    <div id="edit"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const categoryId = parseInt('{{ categoryId }}', 10);
    </script>
    {{ encore_entry_script_tags('adminCategoriesEdit') }}
{% endblock %}
