{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }} - Nowa kategoria w ofercie{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {#        {{ encore_entry_link_tags('adminCategories') }}#}
    {% endblock %}
{% block body %}
    <div id="new"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminCategoriesNew') }}
{% endblock %}
