{% extends('base.html.twig') %}

{% block title %}{{ metaTitle }}{{ parent() }}{% endblock %}
{% block description %}{{ metaDescription }} {{ parent() }}{% endblock %}
{% block keywords %}{{ metaKeywords|trim }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="content-inner">
                    <div id="component" class="col-sm-12">
                        <main>
                            <section class="page-gallery">
                                <header class="page_header">
                                    <h3 class="heading-style-3">{{ item.name }}</h3>
                                    {% if item.shortDescription %}
                                        <h4>{{ item.shortDescription }}</h4>
                                    {% endif %}
                                </header>
                                <div class="row cols-3" id="jg_gallery">
                                    <div class="col-sm-4 one-column-layout">
                                        {% if item.longDescription %}
                                            <div class="col-sm-12">
                                                <h5 class="heading-style-5 text-justify">{{ item.longDescription }}</h5>
                                            </div>
                                        {% endif %}
                                        {% for img in images %}
                                            {% include 'offer/item.html.twig' with {'slug': item.slug, 'img': img} %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-4 three-columns-layout">
                                        {% if item.longDescription %}
                                        <div class="col-sm-12">
                                            <h5 class="heading-style-5 text-justify">{{ item.longDescription }}</h5>
                                        </div>
                                        {% endif %}
                                        {% for img in images_left %}
                                            {% include 'offer/item.html.twig' with {'slug': item.slug, 'img': img} %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-4 three-columns-layout">
                                        {% for img in images_middle %}
                                            {% include 'offer/item.html.twig' with {'slug': item.slug, 'img': img} %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-4 three-columns-layout">
                                        {% for img in images_right %}
                                            {% include 'offer/item.html.twig' with {'slug': item.slug, 'img': img} %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}