{% extends('base.html.twig') %}

{% block title %}{{ metaTitle }}{{ parent() }}{% endblock %}
{% block description %}{{ metaDescription }} {{ parent() }}{% endblock %}
{% block keywords %}{{ metaKeywords|trim }}{{ parent() }}{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="content-inner">
                    <div id="component" class="col-sm-12">
                        <main>
                            <section class="page-gallery page-gallery__works">
                                <header class="page_header">
                                    <h3 class="heading-style-3 visible-first">Mapa Finezji</h3>
                                </header>
                                <ul id="isotopeContainer" class="gallery items-row row cols-3 hover_false grid loaded">
                                    <li class="gallery-item mix mix_all gallery-grid col-sm-4" style=" display: inline-block; opacity: 1;">
                                        <div class="gallery-item__content">
                                            <figure class="item_img img-intro img-intro__none">
                                                <a rel="nofollow" title="Strona główna" href="{{ path('index') }}">
                                                    <img src="{{ absolute_url('/images/offer/bukiety-okolicznosciowe-1.jpg') }}" alt="Strona główna">
                                                </a>
                                            </figure>
                                            <div class="box_inner" style="height: 124px;">
                                                <div class="item_header">
                                                    <h4 class="item_title heading-style-4 visible-first">
                                                        <a title="Strona główna" href="{{ path('index') }}">
                                                            Strona główna
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="gallery-item mix mix_all gallery-grid col-sm-4" style=" display: inline-block; opacity: 1;">
                                        <div class="gallery-item__content">
                                            <figure class="item_img img-intro img-intro__none">
                                                <a rel="nofollow" title="O nas" href="{{ path('about') }}">
                                                    <img src="{{ absolute_url('/images/o-nas.jpg') }}" alt="O nas">
                                                </a>
                                            </figure>
                                            <div class="box_inner" style="height: 124px;">
                                                <div class="item_header">
                                                    <h4 class="item_title heading-style-4 visible-first">
                                                        <a title="O nas" href="{{ path('about') }}">
                                                            O nas
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="gallery-item mix mix_all gallery-grid col-sm-4" style=" display: inline-block; opacity: 1;">
                                        <div class="gallery-item__content">
                                            <figure class="item_img img-intro img-intro__none">
                                                <a rel="nofollow" title="Oferta" href="{{ path('offers') }}">
                                                    <img src="{{ absolute_url('/images/offer/wszystkich-swietych_24.jpg') }}" alt="Oferta">
                                                </a>
                                            </figure>
                                            <div class="box_inner" style="height: 124px;">
                                                <div class="item_header">
                                                    <h4 class="item_title heading-style-4 visible-first">
                                                        <a title="Oferta" href="{{ path('offers') }}">
                                                            Oferta
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                    {% for item in items %}
                                        <li class="gallery-item mix mix_all gallery-grid col-sm-4" style=" display: inline-block; opacity: 1;">
                                            <div class="gallery-item__content">
                                                <figure class="item_img img-intro img-intro__none">
                                                    <a rel="nofollow" title="{{ item.name }}" href="{{ path('offer', { 'slug': item.slug }) }}">
                                                        <img src="{{ absolute_url('' ~ item.image ~ '') }}" alt="{{ item.name }}">
                                                    </a>
                                                </figure>
                                                <div class="box_inner" style="height: 124px;">
                                                    <div class="item_header">
                                                        <h4 class="item_title heading-style-4 visible-first">
                                                            <a title="{{ item.name }}" href="{{ path('offer', { 'slug': item.slug }) }}">
                                                                {{ item.name }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    <li class="gallery-item mix mix_all gallery-grid col-sm-4" style=" display: inline-block; opacity: 1;">
                                        <div class="gallery-item__content">
                                            <figure class="item_img img-intro img-intro__none">
                                                <a rel="nofollow" title="Kontakt" href="{{ path('contact') }}">
                                                    <img src="{{ absolute_url('/images/offer/bukiety-slubne-2.jpg') }}" alt="Kontakt">
                                                </a>
                                            </figure>
                                            <div class="box_inner" style="height: 124px;">
                                                <div class="item_header">
                                                    <h4 class="item_title heading-style-4 visible-first">
                                                        <a title="Kontakt" href="{{ path('contact') }}">
                                                            Kontakt
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}